{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock %}
    <link href="{% static 'pizza/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'pizza/css/menu_style.css' %}">
    <title>{{ title }}</title>
</head>
<body>
    <div class="menu">
        <div class="container">
            <div class="menu_inner">
                <div class="logo">
                    <img src="{% static 'pizza/img/logo.png' %}" alt="">
                </div>
                <ul class="nav">
                    {% for m in menu %}
                    <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>
                    {% endfor %}
                    <li><a href="https://drive.google.com/file/d/1j-V7iB6dXQp7pRNlYTqind9So3-QJ2S6/view">Резюме</a></li>
                    <li><a href="https://github.com/EnotShow"><img src="{% static 'pizza/img/gitlogo.png' %}" width="25">  Github</a></li>
                    {% if request.user.is_authenticated %}
                    {% for m in auth %}
                    <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>
                    {% endfor %}
                    {% else %}
                    <li><a href="{% url no_auth.url_name %}">{{ no_auth.title }}</a></li>
                    {% endif %}
                </ul>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>