{% extends 'pizza/base.html' %}
{% load static %}
{% block head %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="{% static 'pizza/css/product_style.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
      <!-- Left Column / Headphones Image -->
    <div class="container-product">
      <div class="left-column">
        <img class="active" src="{{ product.image.url }}" width="500" alt="">
      </div>


      <!-- Right Column -->
      <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
          <h1>{{ product.title }}</h1>
          <p>{{ product.ingredients }}</p>
        </div>

        <!-- Product Configuration -->
        <div class="product-configuration">


          <!-- Cable Configuration -->
          <div class="cable-config">
            <span>{{ product.about }}</span>

            <div class="cable-choose">
            {% for price in product.price_set.all %}
              <button id="item{{ forloop.counter }}" onclick="myFunc({{ price.price }},{{ price.id }})">{{ price.description }}</button>

            {% endfor %}

            </div>

          </div>
        </div>

        <!-- Product Pricing -->
        <div id="productButton" class="product-price">
            <span id="prodPrice">Цена:</span>
        </div>
      </div>
    </div>
    <script>
                let div = document.getElementById('productButton');
                function myFunc(price, id) {
                    let item = document.getElementById('prodPrice')
                    item.innerText = 'Цена: ' + price

                    if (!document.getElementById('cart')) {
                        div = div.innerHTML = div.innerHTML + `<a href="${id}" id="cart" class="cart-btn">Добавить в корзину</a>`
                    } else {
                        document.getElementById('cart').href = id
                    }
                }
    </script>
{% endblock %}